/* Réinitialisation des marges, rembourrages et boîte de modèle de boîte */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins-med; /* Utilisation de la police Poppins Medium par défaut */
}

/* Définition des polices personnalisées */
@font-face {
  font-family: poppins-med;
  src: url(Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: poppins-bold;
  src: url(Poppins/Poppins-Bold.ttf);
}

/* Animation du typewriter */
#typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: 0.25em solid #ffffff;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 1.5s steps(30, end), blink-caret 0.5s step-end infinite;
  font-weight: bolder;
  font-size: larger;
}

/* Animation de l'écriture du typewriter */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}

/* Animation de clignotement du curseur du typewriter */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #8611d4;
  }
}
.form-container {
  width: 400px;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
  margin-bottom: 50px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}
.form-container.show {
  opacity: 1;
  transform: translateY(0);
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}
@media only screen and (max-width: 767px) {
  /* Réduire la taille de la police pour s'adapter aux petits écrans */
  .form-container {
    padding: 20px;
    width: 100%; /* Ajoute un peu d'espace autour du formulaire */
  }

  /* Réduire la taille de la police pour s'adapter aux petits écrans */
  .form-container .form-group label {
    font-size: 14px;
  }

  /* Réduire la hauteur du champ de texte pour s'adapter à l'écran */
  .form-container .form-group textarea {
    height: 80px; /* Ajustez la hauteur selon vos besoins */
  }
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #d4069a;
}
.footer-clean {
  padding: 20px 0;
  background-image: url(/images/cool-background.png);
  color: #000000;
}

@media (max-width: 767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}

.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

/* Style général du body */
body {
  background-image: url("images/cool-background.png"); /* Définition de l'image de fond */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Style de la section Showcase */
.showcase {
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  padding: 50px 0;
  backdrop-filter: blur(2px);
}

/* Style de l'élément img dans .navbar-brand */
.navbar-brand img {
  transition: transform 0.3s;
}

/* Animation du hover de l'image dans .navbar-brand */
.navbar-brand img:hover {
  transform: scale(1.5);
}

/* Style de l'icône du bouton de la barre de navigation */
.navbar-toggler-icon {
  background-image: url(logos/1564512_burger_catalogue_list_menu_icon.png);
  transform: scale(1);
  filter: invert(1); /* Inversion des couleurs de l'icône */
}

/* Animation du hover de l'icône du bouton de la barre de navigation */
.navbar-toggler-icon:hover {
  background-image: url(logos/1564512_burger_catalogue_list_menu_icon.png);
  transform: scale(1.2);
}

/* Style général du texte */
.text {
  color: #000000;
  text-shadow: #ffffff; /* Ombre du texte */
  font-weight: bold;
  line-height: 1.6;
  align-items: center;
  margin-top: 50px;
  margin-left: 30px;
}

/* Style des titres */
h1 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
  text-decoration-line: underline;
}

h4 {
  font-size: 25px;
}

/* Style des liens */
a {
  color: #000000;
  font-weight: bold;
}

/* Style des liens dans la barre de navigation */
.nav-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border-radius: 4px;
  text-decoration: none;
  color: #000000;
  font-size: larger;
  transition: all 0.3s ease;
  transform: scale(1);
}

/* Animation du hover des liens dans la barre de navigation */
.nav-link:hover {
  background: linear-gradient(180deg, #3b2ad5 0%, #88007d 60%, #ff0055c4 100%);
  box-shadow: 0px 2px 5px #03001e, inset 0px 2px 5px #8611d4,
    inset 0 -2px 5px #ff0055a1;

  background: #03001e;
  box-shadow: 0px -4px 16px #9611d4, 0px 2px 5px #00a2ffe3,
    inset 0px 4px 8px #3b2ad5;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

/* Style de l'image dans .navbar-brand */
.navbar-brand img {
  filter: invert(1);
}

/* Style des boutons */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  text-decoration: none;
  color: #000000;
  transition: all 1.3s ease;
  transform: scale(1);
  font-weight: bolder;
  font-size: large;
}

/* Animation du hover des boutons */
.btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.other-animation {
  animation: slideInFromLeft 1s ease-in-out forwards;
}
.move-up {
  transform: translateY(-50px); /* Adjust the distance as needed */
  transition: transform 0.3s ease; /* Adjust duration and easing */
}

/* Style des cartes */
.card {
  box-shadow: 0 6px 8px rgb(72, 0, 102); /* Ombre en violet foncé */
  transition: box-shadow 0.3s; /* Animation de transition pour l'ombre */
  transform: scale(1);
  opacity: 1; /* 100% d'opacité pour rendre la carte visible */
}

/* Animation du hover des cartes */
.card:hover {
  box-shadow: 0 10px 16px rgb(52, 1, 46);
  transition: box-shadow 0.3s;
  transform: scale(1.05);
  opacity: 1;
}
/* colorer chaque mot en hover dans la presentation */
.hovered {
  color: rgb(69, 2, 69);
  font-weight: bolder;
}

/* Style des cartes postales sombres et rouges */
.postcard.dark.red {
  box-shadow: rgba(63, 20, 76, 0.4) -4px 4px, rgba(63, 20, 76, 0.3) -8px 8px,
    rgba(63, 20, 76, 0.2) -9px 9px, rgba(63, 20, 76, 0.1) -12px 12px,
    rgba(63, 20, 76, 0.05) -15px 15px; /* Ombre en violet foncé */
  transition: box-shadow 0.3s; /* Animation de transition pour l'ombre */
}

/* Animation du hover des cartes postales sombres et rouges */
.postcard.dark.red:hover {
  box-shadow: rgba(63, 20, 76, 0.6) -4px 4px, rgba(63, 20, 76, 0.5) -8px 8px,
    rgba(63, 20, 76, 0.4) -9px 9px, rgba(63, 20, 76, 0.3) -12px 12px,
    rgba(63, 20, 76, 0.2) -15px 15px; /* Lorsque survolé, l'ombre s'étend légèrement */
}

/* Style du texte des cartes postales */
.postcard__text {
  opacity: 1; /* Rendre le texte visible */
}

/* Style du conteneur de contact */
.ctt {
  display: flex;
  margin: 20px;
}

/* Style de la carte de contact */
.contact-card {
  text-align: center;
  padding: 10px;
  width: 100px;
}

/* Style du lien de contact */
.contact-link {
  text-decoration: none;
  display: block;
  margin: 5px;
  transition: all 0.3s ease;
  transform: scale(1);
}
.ctt :hover {
  transform: scale(1.2);
}

/* Style de la section "à propos du développeur" */
.about-dev {
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(243, 241, 247, 0.189);
  align-items: center;
}

/* Style de la section "à propos" */
.about-section {
  flex: 1;
  margin: 10px;
  text-align: center;
  color: #000000;
}

/* Media query pour les appareils de petite taille */
@media (max-width: 667px) {
  /* Style de la section "à propos du développeur" pour les appareils de petite taille */
  .about-dev {
    width: 90%;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff3f;
    align-items: center;
  }

  /* Style de la section "à propos" pour les appareils de petite taille */
  .about-section {
    flex: 1;
    margin: 10px;
    text-align: center;
    color: #000000;
  }

  /* Style des images pour les appareils de petite taille */
  img {
    max-width: 400px;
    object-fit: contain;
    border-radius: 10px;
  }

  /* Animation du hover des images pour les appareils de petite taille */
  img:hover {
    object-fit: contain;
    border-radius: 10px;
    transform: scale(1.1);
  }

  /* Style du conteneur de contact pour les appareils de petite taille */
  .ctt {
    display: flex;
    margin: 20px;
  }

  /* Style de la carte de contact pour les appareils de petite taille */
  .contact-card {
    text-align: center;
    padding: 10px;
    width: 100px;
  }

  /* Style du lien de contact pour les appareils de petite taille */
  .contact-link {
    text-decoration: none;
    display: block;
    margin: 5px;
    transition: all 0.3s ease;
    transform: scale(1);
  }

  /* Style de la section Showcase pour les appareils de petite taille */
  .showcase {
    padding: 30px 0;
  }

  /* Style du body pour les appareils de petite taille */
  body {
    background-image: url(images/cool-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  /* Style du texte pour les appareils de petite taille */
  .text {
    color: #000000;
    margin-top: 50px;
  }

  /* Style de l'image dans .navbar-brand pour les appareils de petite taille */
  .navbar-brand img {
    transition: transform 0.2s;
    transform: scale(1);
  }

  /* Animation du hover de l'image dans .navbar-brand pour les appareils de petite taille */
  .navbar-brand img:hover {
    transform: scale(1.3);
  }

  /* Opacité des liens de la barre de navigation pour les appareils de petite taille */
  .nav-link {
    opacity: 90%;
  }

  /* Style des titres pour les appareils de petite taille */
  h1 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
    text-decoration-line: underline;
  }

  h4 {
    font-size: 18px;
  }
}

/* Style du thème sombre */
.dark {
  background: rgba(218, 215, 227, 0.078);
}

/* Style du thème clair */
.light {
  background: #f3f5f7;
}

/* Style des liens */
a {
  color: #ffffff;
}

/* Animation du hover des liens */
a:hover {
  text-decoration: none;
  color: whitesmoke;
  transition: color 0.3s ease-in-out;
  transform: scale(1.1);
}

/* Style des éléments de tag en survol */
.tag__item:hover {
  cursor: pointer;
  text-decoration: underline;
  font-size: large;
}

/* Style du titre de la page */
#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  color: #000000;
}

/* Style des cartes postales */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

/* Style des cartes postales sombres */
.postcard.dark {
  background-color: #18151f;
}

/* Style des cartes postales claires */
.postcard.light {
  background-color: #e1e5ea;
}

/* Style des cartes postales en thème sombre */
.postcard.t-dark {
  color: #18151f;
}

/* Style des liens dans les cartes postales */
.postcard a {
  color: inherit;
}

/* Style du titre principal dans les cartes postales */
.postcard h1,
.postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

/* Style du texte principal dans les cartes postales */
.postcard__title {
  font-size: 1.75rem;
  color: #ffffff;
}

/* Style de l'image dans les cartes postales */
.postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

/* Style du lien de l'image dans les cartes postales */
.postcard__img_link {
  display: contents;
}

/* Style de la barre de séparation dans les cartes postales */
.postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}

/* Style du texte dans les cartes postales */
.postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Style du texte de prévisualisation dans les cartes postales */
.postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}

/* Style de la boîte à tags dans les cartes postales */
.postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
  text-decoration: none;
}

/* Style des éléments de tag dans la boîte à tags des cartes postales */
.postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}

/* Animation du hover des éléments de tag dans les cartes postales */
.postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}

/* Pseudo-élément pour créer un effet de survol sur les cartes postales */
.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}

/* Animation de la barre de séparation au survol des cartes postales */
.postcard:hover .postcard__bar {
  width: 100px;
}

/* Media query pour les écrans de taille moyenne et supérieure */
@media screen and (min-width: 769px) {
  /* Ajustement du style des cartes postales */
  .postcard {
    flex-wrap: inherit;
  }

  /* Ajustement du style du titre principal dans les cartes postales */
  .postcard__title {
    font-size: 2rem;
  }

  /* Ajustement du style de la boîte à tags dans les cartes postales */
  .postcard__tagbox {
    justify-content: start;
  }

  /* Ajustement du style de l'image dans les cartes postales */
  .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }

  /* Ajustement du style du texte dans les cartes postales */
  .postcard__text {
    padding: 3rem;
    width: 100%;
  }

  /* Pseudo-élément pour créer un effet visuel sur les cartes postales */
  .media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
  }

  /* Animation du hover de l'image dans les cartes postales */
  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }

  /* Ajustement des positions des cartes postales */
  .postcard:nth-child(2n + 1) {
    flex-direction: row;
  }

  .postcard:nth-child(2n + 0) {
    flex-direction: row-reverse;
  }

  .postcard:nth-child(2n + 1) .postcard__text:before {
    left: -12px !important;
    transform: rotate(4deg);
  }

  .postcard:nth-child(2n + 0) .postcard__text:before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}

/* Media query pour les écrans de grande taille */
@media screen and (min-width: 1024px) {
  /* Ajustement du style du texte dans les cartes postales */
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  /* Pseudo-élément pour créer un effet visuel sur les cartes postales */
  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }

  /* Style du thème sombre pour le pseudo-élément du texte dans les cartes postales */
  .postcard.dark {
    .postcard__text:before {
      background: #18151f;
    }
  }

  /* Style du thème clair pour le pseudo-élément du texte dans les cartes postales */
  .postcard.light {
    .postcard__text:before {
      background: #e1e5ea;
    }
  }
}
